<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InnovationGame</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <style>
        .alinharCentro {
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow" style="background-color:#ccc">
            <div class="container">
                <div class="alinharCentro">
                    <div style="font-size: 20px">
                        <img style="width: 50%; margin-left:80px;" src="https://cdn.discordapp.com/attachments/741344471878336545/744381842244894822/Picture1.png"/>
                    </div>
                    @*<div class="ml-3">
                        <a  style="color: #6342a6;font-size: 35px;font-weight: bold;margin-top: 4px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">nab<label style="color:black">oa</label></a>
                    </div>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #212529;" class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - InnovationGame
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
