@model InnovationGame.ViewModels.Compra
@{
    ViewData["Title"] = "Confirmação";
}
<html>
    <head>
        <style>
            .actions {
                display: flex;
                justify-content: flex-end;
            }
            .bold {
                font-weight: bold;
            }
            .corBotao {
                background-color: #6342a6;
                color: white;
                border-color: #6342a6;
            }
        </style>
    </head>

    <body>
        <div class="container mt-5">
            <h4>Dados da compra:</h4>

            <div class="mb-4">
                <div class="text-center mt-3">
                    <img src="https://www.confianca.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/r/e/refrigerante-guarana-antarctica-lata-350ml_1.jpg" width="200" height="200" />
                </div>
                <div class="text-center">
                    <label>Descrevendo o produto aqui</label>
                </div>
                <div class="text-center">
                    <label>Quant: 1</label>
                </div>
                <div class="text-center">
                    <label>5,99</label>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Celular: </label>
                    <span>(16) 99999-9999</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Endereço: </label>
                    <span>Teste Teste Teste</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Cep: </label>
                    <span>Teste Teste Teste</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Estado: </label>
                    <span>Teste Teste Teste</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Cidade: </label>
                    <span>Teste Teste Teste</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Número: </label>
                    <span>1</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Nome: </label>
                    <span>Teste Teste Teste</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Cartão: </label>
                    <span>123456789123</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">Validade: </label>
                    <span>10/2022</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="bold">CVV: </label>
                    <span>123</span>
                </div>
            </div>
        </div>

        <div class="mt-5 mb-5 actions">
            <button id="voltar" class="btn btn-light btn-lg mr-2" onclick="">Voltar</button>
            <button id="submit" class="btn corBotao btn-lg" onclick="salvar()">Confirmar</button>
        </div>
    </body>
</html>

<script type="text/javascript">

    function salvar() {
        var carrinho = mapearObjetoParaSalvar();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ConfirmarCompra", "Carrinho")',
            data: JSON.stringify(carrinho),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Data has been added successfully.");
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    }

    function mapearObjetoParaSalvar() {
        var carrinho = {};
        return carrinho;
    }

</script>
