@{
    ViewData["Title"] = "Carrinho";
}
<html>
    <head>
        <style>
            .actions {
                display: flex;
                justify-content: flex-end;
            }
            .corBotao {
                background-color: #6342a6;
                color: white;
                border-color: #6342a6;
            }
        </style>
    </head>

    <body>
        <div class="container mt-5">
            <form>
                <h4>Dados da compra:</h4>

                <div id="imagemProduto" class="text-center mt-3"></div>

                <div id="descricaoProduto" class="text-center mt-3 mb-1"></div>

                <div id="precoProduto" class="text-center mb-4"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-2">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" class="form-control" id="quantidade">
                        </div>

                        <div class="col-12 col-sm-2">
                            <label for="celular">Celular</label>
                            <input type="text" class="form-control" id="celular">
                        </div>

                        <div class="col-12 col-sm-8">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" id="endereco">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-6 col-sm-3">
                            <label for="cep">Cep</label>
                            <input type="text" class="form-control" id="cep">
                        </div>

                        <div class="col-6 col-sm-3">
                            <label for="estado">Estado</label>
                            <input type="text" class="form-control" id="estado">
                        </div>

                        <div class="col-6 col-sm-4">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade">
                        </div>

                        <div class="col-6 col-sm-2">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control" id="numero">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome">
                        </div>

                        <div class="col-12 col-sm-4">
                            <label for="numeroCartao">Cartão</label>
                            <input type="text" class="form-control" id="numeroCartao">
                        </div>

                        <div class="col-12 col-sm-2">
                            <label for="dataValidade">Validade</label>
                            <input type="text" class="form-control" id="dataValidade">
                        </div>

                        <div class="col-12 col-sm-2">
                            <label for="cardCvv">CVV</label>
                            <input type="text" class="form-control" id="cardCvv">
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-5 actions">
                    <button id="submit" class="btn corBotao btn-lg" onclick="proximoPasso()">Avançar</button>
                </div>

            </form>
        </div>
    </body>
</html>

<script type="text/javascript">

    $().ready(function () {

        obterInformacoesUrl();
        obterProdutoPorId(1);
    });

    function mapearObjeto() {
        var carrinho = {};
        //carrinho.Celular = $().val("celular");
        //carrinho.Endereco = $("#endereco").val();
        //carrinho.Cidade = $("#cidade").val();
        //carrinho.Estado = $("#estado").val();
        //carrinho.Numero = $("#numero").val();
        //carrinho.NomeCartao = $("#nome").val();
        //carrinho.CartaoCredito = $("#numeroCartao").val();
        //carrinho.CartaoVencimento = $("#dataValidade").val();
        //carrinho.CartaoCVV = $("#cardCvv").val();
        //carrinho.CodeId  = "";

        //carrinho.Quantidade = $("#quantidade").val();
        //carrinho.ProdutoId = "";
        //carrinho.InfluenciadorId = "";
        return carrinho;
    }

    function proximoPasso() {
        var carrinho = mapearObjeto();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Detalhes", "Carrinho")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(carrinho),
            error: function () {
                alert("Error while inserting data");
            }
        });
    }

    function obterProdutoPorId(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ObterPorId", "Produto")',
            contentType: "application/json; charset=utf-8",
            data: { produtoId: id },
            success: function (data) {
                if (data != null) {
                    setarDadosProduto(data);
                }
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    }

    function setarDadosProduto(data) {
        $("#descricaoProduto").append(`<label>${data.nome}</label>`);
        $("#precoProduto").append(`<label>${data.preco}</label>`);
        $("#imagemProduto").append(`<img src=${data.foto} width="200" height="200" />`);
    }

    function obterInformacoesUrl() {
        let parametros = new URLSearchParams(window.location.search);

        if (parametros) {
            var produtoId = parametros.get('produtoId');

            if (produtoId != null) {
                obterProdutoPorId(produtoId);
            }
        }
    }

</script>

